@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7fafc;
  overflow-x: hidden;
}

code {
  font-family: 'Poppins', sans-serif;
}

.title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.description {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #aaa;
}

@media screen and (min-width: 768px) {
  body {
    margin: 20px 100px;
  }
}
